blockquote {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    text-align: justify
}

.quote-box {
    margin: 0 auto;
}

.quote {
  width: 300px;
  border: 2px solid #495c79;
  background-color: #0d0f17;
  position: relative;
  top: -2px;
  margin-bottom: 25px;
  box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
}

.citation {
  border: 2px solid #495c79;
  background-color: #495c79;
  display: inline-block;
}

cite {
  padding: 0 10px 0 10px;
  font-style: normal;
  font-size: 1.2em;
}

html, body, p {
  padding: 0;
  margin: 0;
}

p {
    text-align: justify;
    font-family: sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    margin-top: 0;
    color: #ccc;
}

#tributes-section {
    clear: both;
    padding: 25px;
    background-color: rgb(22,34,50);
}

#tributes-section h3 {
    color: #ccc;
}

footer {
    clear: both;
    background-color: rgb(12, 10, 24);
    margin-top: 20px;
    height: 150px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 0 auto;
}

.container {
    padding-top: 20px;
    padding-bottom: 60px;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3.5vw;
}

blockquote {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

#title {
    display: flex;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article {
    padding-right: 25px;
}

.tributes {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

@media screen and (min-width: 769px) {

    .tributes {
        display: flex;
        flex-direction: row;
        background-position: right;
    }

  #title {
    height: 100vh;
    flex-direction: row;
    background-position: right;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(splash.jpg);
  }

  .container {
      width: 1200px;
      margin: 0 auto;
      padding-top: 20px;
  }

  .splash {
    width: 50vw;
  }

  .text {
      padding-left: 50px;
  }

  #img-div {
      float:left;
      margin-right: 25px;
  }
}

@media screen and (max-width: 768px) {

    .tributes {
        display: flex;
        flex-direction: column;
        background-position: right;
    }

  #title {
    height: 75vh;
    width: 100%;
    flex-direction: column;
  }

  .splash {
    height: 60vh;
  }

  article {
      padding-left: 25px;
  }

  .container {
      width: 100%;
  }

  .text {
    height: 15vh;
    background: rgb(0,0,0);
    background: linear-gradient(179deg, rgba(0,0,0,1) 0%, rgba(67,52,93,1) 100%);
    padding-left: 25px;
    padding-top: 55px;
  }

  .image {
    background-position: right;
    background-size: cover;
    background-image: url(splash.jpg);
  }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
    }
}
